/.git
/.gitignore
/.circleci

Dockerfile

/node_modules
/log
/certs

/build
/ci-reports
/reports

# dev files
/tags*

# Yarn
/.pnp.*
/.yarn
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions
